.highcharts-figure,
.highcharts-data-table table {
    margin: 0 auto;
}

.highcharts-data-background,
.highcharts-root,
.highcharts-container {
    width: 100% !important;
    margin: 0 auto;
    height:fit-content;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:nth-child(odd) {
    background: #989898;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.highcharts-label
.highcharts-data-label{
    color: #fff;
}

/* .highcharts-yaxis .highcharts-axis-line {
    stroke-width: 2px;
}

.highcharts-color-0 {
    fill: #7cb5ec;
    stroke: #7cb5ec;
}

.highcharts-axis.highcharts-color-0 .highcharts-axis-line {
    stroke: #7cb5ec;
}

.highcharts-axis.highcharts-color-0 text {
    fill: #7cb5ec;
}

.highcharts-color-1 {
    fill: #90ed7d;
    stroke: #90ed7d;
}

.highcharts-axis.highcharts-color-1 .highcharts-axis-line {
    stroke: #90ed7d;
}

.highcharts-axis.highcharts-color-1 text {
    fill: #90ed7d;
} */


/* customizing scrollbar if needed probably will use JS for animating idle state */
/* Works on Firefox */
/* * {
    scrollbar-width: thin;
    scrollbar-color: blue rgb(97, 6, 77);
  } */

  /* Works on Chrome, Edge, and Safari */
  /* *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: rgb(97, 6, 77);
  }

  *::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
    border: 3px solid rgb(97, 6, 77);
  } */
